<h3 class="d-flex justify-content-center">Borrower Details</h3>
<hr>
<div class="row align-items-start">
  <div class="col">
  <div class="mb-1 p-1 border bg-light">
  <small class="text-muted">Rate Estimate For:</small>
</div>
<div class="mb-1 p-1 border bg-light">
  <small class="text-muted">Phone #:</small>
</div>
<div class="mb-1 p-1 border bg-light">
  <small class="text-muted">Customer Address:</small>
</div>
  </div>
  <div class="col">
  <div class="mb-1 p-1 border ">
  <small class="text-muted">Joe Doe</small>
</div>
<div class="mb-1 border">
  <small class="text-muted">{{this}}</small>
</div>
<div class="mb-1 border">
  <textarea
    class="form-control form-control-sm"
    formControlName="address"
    id="customeraddress"
    rows="1"
  ></textarea>
</div>
  </div>
</div>
<h3 class="d-flex justify-content-center">Loan Officer Details</h3>
<hr>
<div class="row align-items-start">
<div class="col">
<div class="mb-1 p-1 border bg-light">
<small class="text-muted">Loan/Credit Officer Name:</small>
</div>
<div class="mb-1 p-1 border bg-light">
<small class="text-muted">Phone #:</small>
</div>
<div class="mb-1 p-1 border bg-light">
<small class="text-muted">Credit Office Location:</small>
</div>
<div class="mb-1 p-1 border bg-light">
<small class="text-muted">Date of Calculation:</small>
</div>
<div class="mb-1 p-1 border bg-light">
<small class="text-muted">Office Address:</small>
</div>
</div>
<div class="col">
<div class="mb-1 p-1 border">
<small class="text-muted">stuff</small>
</div>
<div class="mb-1 p-1 border">
<small class="text-muted">Object</small>
</div>
<div class="mb-1 p-1 border">
<small class="text-muted">Object</small>
</div>
<div class="mb-1 p-1 border">
<small class="text-muted">Object</small>
</div>
<div class="mb-1 p-1 border">
<small class="text-muted">Object</small>
</div>
</div>
</div>